.hero{
    position: relative;
    background-color: #D1E6F9;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 2;
}
.bg-theme{
    background-image: url(https://images.unsplash.com/photo-1510629326852-3f0946701bc6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1075&q=80);
    width: 100%;
    background-attachment: fixed !important;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
}
.detail{
    color: white;
}

.bg-theme2{
    background-image: url(https://images.unsplash.com/photo-1557007370-0bdde02d9881?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    width: 100%;
    background-attachment: fixed !important;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
}
