{{!-- <section class="container">
  <h3 class="location-name">{{location.address}}</h3>
  <section class="flex-row justify-center">
    {{#each Location.properties as |Property|}}
    {{> property-details}}
    {{/each}}
  </section>
</section> --}}
<title>Site Login</title>
<link rel="stylesheet" href="../styles.css" />
<script src="https://cdn.tailwindcss.com"></script>
<div class="bg-white">
  <nav class="bg-white-800">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!--
                Icon when menu is closed.
    
                Heroicon name: outline/bars-3
    
                Menu open: "hidden", Menu closed: "block"
              -->
              <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <!--
                Icon when menu is open.
    
                Heroicon name: outline/x-mark
    
                Menu open: "block", Menu closed: "hidden"
              -->
              <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex flex-shrink-0 items-center">
              <img class="block h-8 w-auto lg:hidden" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
              <img class="hidden h-8 w-auto lg:block" src="../public/images/logo.png" alt="">
            </div>
            <div class="hidden sm:ml-6 sm:block">
              
              <!--Nav bar with tabs  -->
              <div class="flex space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="/" class="bg-white-900 text-black px-3 hover:bg-gray-700 hover:text-white py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>
                
               <a href="#" class="text-black-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Favorites</a>
    
                <a href="/listings" class="text-black-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Listings</a>
    
                <a href="/contact" class="text-black-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contact Us</a>
                
              </div>
            </div>
          </div>
          
          
         
            <!-- Profile dropdown -->
            
    
      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Dashboard</a>
    
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>
    
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>
    
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
        </div>
      </div>
    </nav>
    <div class="relative overflow-hidden bg-white">
  <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
      <div class="sm:max-w-lg">
        <h1 class="font text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">We are the #1 Firm in South Florida</h1>
        <p class="mt-4 text-xl text-gray-500">Our Listing Cover 4 Major Cites in South Florida</p>
      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                    <img src="/images/571b18440999ab70b01175e409148686.jpg" alt="" class="h-full w-full object-cover object-center">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/images/pexels-matheus-bertelli-2980955.jpg" alt="" class="h-full w-full object-cover object-center">
                  </div>
                </div>
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/images/571b18440999ab70b01175e409148686.jpg" alt="" class="h-full w-full object-cover object-center">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/images/pexels-matheus-bertelli-2980955.jpg" alt="" class="h-full w-full object-cover object-center">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/images/571b18440999ab70b01175e409148686.jpg" alt="" class="h-full w-full object-cover object-center">
                  </div>
                </div>
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/images/pexels-matheus-bertelli-2980955.jpg" alt="" class="h-full w-full object-cover object-center">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/images/571b18440999ab70b01175e409148686.jpg" alt="" class="h-full w-full object-cover object-center">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a href="/contact" class="inline-block rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-center font-medium text-white hover:bg-indigo-700">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sm:text-center contact-us">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Select City</p>
</div>

<div class="check-list">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
  <label class="form-check-label" for="flexCheckDefault">
    Miami
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Fort Lauderdale
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Orlando
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Naples
  </label>
</div>
</div>

  <div
    class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
  >
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">
      Homes for Sale In Miami
    </h2>

    <div
      class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/c7ad9ee16f7e9596ffecb460309b6469-cc_ft_960.webp"
            alt="Miami House 1."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                11730 W Biscayne Canal Rd
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">3 bed 3 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$799,000</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/5648af9eff31d8009c61957b1ec2ee30-cc_ft_1536.webp"
            alt="Miami House 2."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                16231 SW 109th Ave
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">7 bed 3 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$699,000</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/577a501d842dbd50a7fdaa2973d19cb3-cc_ft_1536.webp"
            alt="Miami house 3."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                13731 Madison St
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">3 bed 3 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$630,000</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/7691ad6685926bb09a448b143212122f-cc_ft_1536.webp"
            alt="Miami House 4."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                2231 NW 60th St
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">5 bed 3 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$499,000</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
  >
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">
      Homes for Sale In Fort Lauderdale
    </h2>

    <div
      class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/a56c6cb945bd6cfd16a38f7f6836cde8-cc_ft_1536.webp"
            alt="Ft. Laudy House 1."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                621 Sw 12th Ct
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">2 bed 1 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$465,000</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/5cf83c2b8a9093c29a4e7ec94cc749bc-cc_ft_1536.webp"
            alt="Ft. Laudy House 2."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                4831 Ne 19th Ave
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">2 bed 2 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$719,900</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/0049e81a6c83f10a93c7651be3173023-cc_ft_1536.webp"
            alt="Ft. Laudy house 3."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                1530 Sw 10th Ave
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">3 bed 2 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$525,000</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/f1d24c0b981355f2dc98a33791586d73-cc_ft_1536.webp"
            alt="Ft. Laudy House 4."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                6001 Ne 19th Ave
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">3 bed 2 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$798,000</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
  >
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">
      Homes for Sale In Orlando
    </h2>

    <div
      class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/6e39dd8a040a0402fdc9a212aa3e5664-cc_ft_1536.webp"
            alt="Orlando House 1."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                851 Battery Pointe Dr
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">3 bed 2 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$415,000</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/e2795f9070acbe8dfaa42599d42ba26d-cc_ft_1536.webp"
            alt="Orlando House 2."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                11925 Language Way
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">4 bed 3 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$610,085</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/0de7e2cc5f9baaa71b516e3281f66354-cc_ft_1536.webp"
            alt="Orlando house 3."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                1080 Palos Verde Dr
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">3 bed 2 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$425,000</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/d17d246a4503ecaf3cc4ec1debca6436-cc_ft_1536.webp"
            alt="Orlando House 4."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                11918 Fiction Ave
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">4 bed 3 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$620,000</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
  >
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">
      Homes for Sale In Naples
    </h2>

    <div
      class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/ca24c079fff0dc55dddf37a305377789-cc_ft_1536.webp"
            alt="Naples House 1."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                2822 Inlet Cove Ln W
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">4 bed 3 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$589,990</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/365924644c82cdc143c028debef29475-uncropped_scaled_within_1536_1152.webp"
            alt="Naples House 2."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                14413 Manchester Dr
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">3 bed 2 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$745,000</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/104b52d246e53a9d7ce4e8abf01aea8c-cc_ft_1536.webp"
            alt="Naples house 3."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                1909 Mustique St
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">4 bed 2 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$799,000</p>
        </div>
      </div>
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="https://photos.zillowstatic.com/fp/629a47a044a8946cfb2495e889f2a594-cc_ft_1536.webp"
            alt="Naples House 4."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                1021 Jardin Dr
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">3 bed 3 bath</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$640,000</p>
        </div>
      </div>
    </div>
  </div>
</div>

